body {
    background-color: lightgreen;
    }

    @media only screen and (min-width: 600px) {
    body {
     background-color: lightblue;
        }
     .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px
        row-gap: 1em;
        padding: 1em;
        margin: 2% auto;
        width: 2% auto;
        border: white;
        
    }

    h3 {
        padding-left:50px;
        margin-left:300px;
        margin-top:-150px;
        padding-bottom:100px;
        text-align:center;

    } 
   }

    @media only screen and (min-width: 800px) {
        body {
         background-color:rgb(235, 163, 30);
        }
         .projects {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px
            row-gap:1em;
            padding: 1em;
            margin: 2% auto;
            width: 2% auto;
            border: rgb(224, 214, 214);
            
        }
        
        h3 {
            padding-left:50px;
            margin-left:300px;
            margin-top:-150px;
            padding-bottom:100px;
            text-align:center;
    
        }   
    }
    
div {
    border: solid 2px rebeccapurple;
    margin: 5% auto;
    width: 80%;
}
 
h2 {
    text-align: center;
    color: rgb(214, 214, 224);
    font-family:'Times New Roman', Times, serif ;
}

.main>p {
    color: rgb(238, 228, 228);

}

ul{
       color: rgb(238, 229, 229);
}

img{
    margin: 5%;
    width: 40x;
    height: 200px;
    padding:10px;
    padding-top:5px
}

.main{
    border: solid rebeccapurple;
    margin: 1em;
    width: auto;
}

.main>p{
	margin: 1em;
}
h3{
    text-align: center;
}
.projects{
    border: white;
}



